<md-dialog class="md-modal md-modal-wide limit-width request-password-modal">
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="md-modal-header">
                <h1>{{:: 'enterYourPassword' | text }}</h1>
            </dv>

            <div class="sub-header">{{:: 'requestPassword' | text }}</div>

            <md-input-container>
                <label>{{:: 'password' | text }}</label>
                <input type="password" ng-model="credentials.password">
                <div ng-if="errorMessage" class="md-modal-error" style="order: 2">{{ errorMessage }}</div>
            </md-input-container>

            <div class="buttons">
                <md-button ng-click="$root.closeModal()">{{:: 'cancel' | text }}</md-button>
                <md-button ng-click="connectAccounts()" ng-disabled="!credentials.password" class="md-primary md-raised">{{:: 'connect' | text }}</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>