<md-dialog class="md-modal md-modal-wide password-reset-modal">
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="md-modal-header">
                <h1>{{:: 'passwordRecovery' | text }}</h1>
            </div>

            <md-input-container>
                <label>{{:: 'email' | text }}</label>
                <input type="email" ng-model="resetPassword.credentials.email">
                <div class="md-modal-error">{{ resetPassword.Error }}</div>
                <div class="md-modal-info" ng-if="!resetPassword.Error">{{:: 'passResetExpl' | text }}</div>
            </md-input-container>

            <div class="buttons">
                <md-button ng-click="$root.closeModal()">{{:: 'cancel' | text }}</md-button>
                <md-button ng-click="resetPassword.submit(resetPassword.credentials)" ng-disabled="!resetPassword.credentials.email" class="md-primary md-raised">{{:: 'sendEmail' | text }}</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>