<md-dialog class="md-modal md-modal-wide user-modal">
    <form ng-submit="modal.submit(modal.row)" name="::modal.form">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>{{ 'transfer ' + (modal.model.name | modelToHuman) + ' #' + modal.row[modal.model.identifier.name] }}</h2>

            <span flex></span>

            <md-button class="md-icon-button" ng-click="$root.closeModal()">
              <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <lb-property property="modal.property" row="modal.transfer" model="::modal.model" form="::modal.form" error-messages="modal.errorMessages"></lb-property>
                </div>
                <div class="buttons">
                    <md-button type="button" ng-click="$root.closeModal()">
                        {{:: 'cancel' | text }}
                    </md-button>

                    <md-button type="submit" class="md-primary md-raised">
                        transfer
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>